body {
            font-family: Arial, sans-serif;
            background-color: rgb(30, 31, 97); 
            text-align: center;
            color: white;
        }

        h1 {
            text-align: center;
        }
nav {
background-color: rgb(63, 98, 212);
text-align: center;
padding: 10px;
}

nav ul {
list-style-type: none;
margin: 0;
padding: 0;
}

nav li {
display: inline-block;
margin:0 10px;
}
nav a{
color: rgb(41, 43, 167);
text-decoration:none;
padding: 8px 12px;
}
nav a:hover{
background-color: rgb(41, 43, 167);
}
        .website_description {
            text-align: center;
            border: 4px solid rgb(115, 136, 255);
            padding: 10px;
        }

        .mechas {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
        }

        .mechas {
            text-align: center;
        }

        .mechas img {
            width: 300px;
            height: 300px;
            fill: rgb(30, 31, 97); 
            object-fit: contain;
        }

        .mecha {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }

        .mechas img {
            border: 4px solid rgb(115,215,255);
            box-sizing: border-box;
        }

footer {
background-color: rgb(41, 43, 167);
color: white;
text-align: center;
padding: 15px;
margin-top: 40px;
}