        body {
            font-family: Arial, sans-serif;
            background-color: rgb(30, 31, 97); 
            text-align: center;
            color: white;
        }

        h1 {
            text-align: center;
        }

        .website_description {
            text-align: center;
            border: 4px solid rgb(115,215,255);
            padding: 10px;
        }

        .mechas {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
        }

        .mechas {
            text-align: center;
        }

        .mechas img {
            width: 300px;
            height: 300px;
            fill: rgb(30, 31, 97); 
            object-fit: contain;
        }

        .mecha {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }

        .mechas img {
            border: 4px solid rgb(115,215,255);
            box-sizing: border-box;
        }
